# Dependencies Node.js
node_modules/

# File Sesi WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# File Database / Memori Personal
her_memory.json
last_greeting.json
jadwal.json

# File Rahasia
.env

# File Json
cookies.txt
cookies.json
chunks.json
penerima.json
jadwal.json

# Trained Data
eng.traineddata
ind.traineddata
# Database Sederhana
penerima.json
jadwal.json

*.mp4
*.mp3