# Dependencies Node.js
node_modules/

# File Sesi WhatsApp (Penting biar akun WA kamu nggak di-hack!)
.wwebjs_auth/
.wwebjs_cache/

# File Database / Memori Personal
her_memory.json
last_greeting.json
jadwal.json

# File Rahasia
.env